{% extends 'menu/inicio/menu_inicio.html' %}
{% load static %}

{% block titulo %}Menu Contactos{% endblock  %}
relacionar_contacto_grupo
{% block contenido_1 %}
    {{ block.super }}
    <div class="al_costado">
        <ul class="menu_list">
            <li><a href="{% url 'contactos:crear_contacto' %}" class="menu_link
                {% if request.resolver_match.view_name == 'contactos:crear_contacto' %} active{% endif %}"
                >Crear contacto</a></li>

            <li><a href="{% url 'contactos:crear_grupo' %}" class="menu_link
                {% if request.resolver_match.view_name == 'contactos:crear_grupo' %} active{% endif %}"
                >Crear grupo</a></li>

            <li><a href="{% url 'contactos:relacionar_contacto_grupo' %}" class="menu_link
                {% if request.resolver_match.view_name == 'contactos:relacionar_contacto_grupo' %} active{% endif %}"
                >Relacionar contacto con grupo</a></li>

                <li><a href="{% url 'contactos:ver_contacto' %}" class="menu_link
                {% if request.resolver_match.view_name == 'contactos:ver_contacto' %} active{% endif %}"
                >Ver contactos</a></li>

                <li><a href="{% url 'contactos:ver_grupos' %}" class="menu_link
                    {% if request.resolver_match.view_name == 'contactos:ver_grupos' %} active{% endif %}"
                    >Ver grupos</a></li>

        </ul>
    </div>
{% endblock  %} 