ul {
list-style-type: none;
display: flex;
justify-content: center;
}

li {
margin-right: 20px;
list-style-type: none;
}

a {
text-decoration: none;
color: #333;
}

.prinsipal {
    background-color: rgb(205, 227, 131);
    font-size: 30px;
}

/* :hover se usa para que ocura un evento cuando pasas el raton por encima */
.prinsipal:hover{
    background-color: rgb(171, 223, 0);
}

p {
display: inline-block;
text-align: left;
}

.centrado {
    text-align: left;
}

.color_1{
    background-color: lightblue;
    padding: 10px;
}

.color_1:hover {
    background-color: rgb(64, 190, 232);
}

.color_2{
    background-color: rgb(205, 227, 131);
    padding: 10px;
}

.color_2:hover {
    background-color: rgb(171, 223, 0);
}

h3, h4 {
    display: inline-block;
    margin: 0;
}
