{% extends 'menus/menu_ver.html' %}
{% load static %}

{% block contenido_1 %}
{{ block.super }}
    <h3>Ver y editar {{ request.path|slice:"10:"|slice:": -1" }}</h3>
    {% for objeto in objeto_3 %}
    <hr>
        <div class="color_1" >
            <li> <h3>Monto anual : </h3> <h4>{{ objeto.monto_anual }}</h4> </li>
            <li> <h3>Extra junio : </h3> <h4> {{ objeto.extra_junio }}</h4> </li>
            <li> <h3>Extra nobiembre : </h3> <h4>{{ objeto.extra_noviembre }}</h4> </li>
            <li><a href="{% url 'editar' resource=ruta id=objeto.id %}" class="button-link">Editar salario</a></li>
            <li><a href="{% url 'borrar' resource=ruta id=objeto.id %}" class="button-link">Borrar salario</a></li>
        </div>
    {% endfor %}
{% endblock  %}