{% extends 'menu/contactos/menu.html' %}
{% load static %}

{% block titulo %}Ver grupo{% endblock  %}

{% block contenido_2 %}
    {{ block.super }}

    <div class="contenido_principal">
        {% for campo in ver %}
        <hr>
        <div class = "listado">
            <li><h3>Nombre del grupo : </h3><h4>{{ campo.nombre }}</h4></li>

            <div class="grupo_prinsipal">
                <div class="izquierda">
                    <li><h3>Contactos : </h3></li>
                </div>

                <div class="derecha">

                    <h4>
                    {% for contacto in campo.contactos.all %}
                        <div class="grupo">{{ contacto }}
                            <a href="{% url 'contactos:remober_contacto' id_contacto=contacto.id id_grupo=campo.id%}" class="boton">Remover contacto</a>
                        </div>
                    {% endfor %}
                    </h4>
                </div>
                
            </div>
            <li><h4><a href="{% url 'contactos:borrar_grupo' id_grupo=campo.id%}" class="boton">Borrar grupo</a></h4></li>
        </div>
        {% endfor %}
    </div>
{% endblock  %}