{% extends 'menu/contactos/menu.html' %}
{% load static %}

{% block titulo %}Ver grupo{% endblock  %}

{% block contenido_1 %}
    {{ block.super }}

    <h1>ver_contactos</h1>

    {% for campo in ver %}
    <hr>
        <div class = "listado">
            <li><h3>Nombre del grupo : </h3><h4>{{ campo.nombre }}</h4></li>
            <li><h3>Contactos en el grupo : </h3><h4>
                {% for contacto in campo.contactos.all %}
                {{ contacto }},
                {% endfor %}</h4></li>
        </div>
    {% endfor %}

{% endblock  %}