{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'inicio.css' %}">
    <title>{% block titulo %}{% endblock  %}</title>
</head>
<body>
    <nav class = "prinsipal">
            <ul>
                <li><a href= {% url "inicio" %} > Inicio </a></li>
                <li><a href= {% url "crear" %} >Crear</a></li>
                <li><a href= {% url "mostrar" %} >Mostrar</a></li>
            </ul>
    </nav>
    <main>
        {% block contenido %}{% endblock %}
    </main>
</body>
</html>