.inicio {
    list-style-type: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #ff0000;
}

.inicio li {
    margin-right: 100px;
}
.inicio a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
}

.inicio a:hover {
    text-decoration: underline;
}

/* _________________________________________________________________ */

.al_costado {
    width: 210px; /* Ajusta el ancho del contenedor del menú según tus preferencias */
    height: 338px; /* Ajusta la altura del contenedor del menú según tus preferencias */
    border: 1px solid #4c3cf8; /* Ajusta el estilo y color del borde del contenedor del menú según tus preferencias */
    padding: 0px; /* Ajusta el espacio interno del contenedor del menú según tus preferencias */
    box-sizing: border-box;
    float: left;
}

/* _________________________________________________________________ */

.menu_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu_list li {
    margin-bottom: 10px; /* Ajusta el margen inferior entre elementos del menú según tus preferencias */
}

.menu_list a {
    display: block; /* Cambia la presentación a un bloque para ocupar todo el ancho disponible */
    width: 100%; /* Establece un ancho del 100% para que ocupe todo el espacio disponible */
    text-decoration: none;
    color: #000;
    font-size: 25px;
    padding: 10px;
    box-sizing: border-box;
}

.menu_list a:hover {
    background-color: #f67728; /* Ajusta el color de fondo al pasar el ratón por encima según tus preferencias */
}

.menu_list a.active {
    background-color: #dcf24e; /* Ajusta el color de fondo después de hacer clic según tus preferencias */
}

/* _________________________________________________________________ */

.listado {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listado li {
    display: flex ;
    align-items: baseline;
    margin-bottom: 0px;
    line-height: 0px;
}

.listado h3 {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.listado h4 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

.listado ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listado ul li {
    margin-left: 20px;
    line-height: 1;
}

/* ------------------------------------------------ */

.boton {
    display: inline-block;
    padding: 9px 12px;
    margin: 1px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    width: 130px;
}

a.boton:hover {
    background-color: #a40000;
}

/* ------------------------------------------------ */

.contenido_principal {
    width: calc(100% - 250px);
    margin-left: 250px;
    /* padding: 20px; */
    overflow: hidden; 
}

/* ------------------------------------------------ */
.grupo {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2px;
    align-items: center;
}

.grupo a.boton {
    background-color: rgb(12, 33, 255);
    padding: 6px;
}

.grupo a.boton:hover {
    background-color: #a40000;
}

/* ------------------------------------------------ */

.grupo_prinsipal{
    display: flex;
}

.izquierda {
    display: block;
}

.derecha {
    display: block;
    width: 100%;
    margin-right: 30px;
}

/* ------------------------------------------------ */

/* Estilos personalizados para los campos de formulario */
.campo-form {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* ------------------------------------------------ */

.barra {
    width: 90%;
    padding: 6px;
}

.boton_barra {
    padding: 6px 20px;
    margin-left: 20px;
}
/* ------------------------------------------------ */
.link{
    text-decoration: none;
    margin-right: 5px;
}