{% extends 'inicio.html' %}
{% load static %}

{% block titulo_1 %}Crear{% endblock  %}
{% block titulo_2 %}
<nav class="centrado"> 
    <h1>Crear</h1>
    <h3>Es recomendavle crear los regisros en ese orden</h3>
</nav> 
{% endblock  %}

{% block contenido_1 %}
{% comment  %}
para mostrar barios block juntos de barios html tenes que colocar block.super (va en la parte superior del block para que se muestre el siguiente contenido en la parte de abajo de este block)
y todos los bloke tienen que tener el mismo nombre

resource=lo que se pasa por aca sustitulle str:resource que se encuentra en el archivo urls 
{% endcomment %}
{{ block.super }}

    <nav class="prinsipal">
        <ul>
            <li><a href="{% url 'empleado' resource=ruta %}">Empleado </a></li>
            <li><a href="{% url 'local' resource=ruta %}" >Local </a></li>
            <li><a href="{% url 'departamento' resource=ruta %}" >Departamento </a></li>
            <li><a href="{% url 'pais' resource=ruta %}" >Pais </a></li>
            <li><a href="{% url 'trabajo' resource=ruta %}" >Trabajo </a></li>
            <li><a href="{% url 'salario' resource=ruta %}" >Salario </a></li>
        </ul>
    </nav>
{% endblock  %}